$search-btn: #fd8a37;
$search-input-border: #dccddc;
$hover-color: #b4b4b4;
$white: #fff;
$black: #000000;
$icon-bg-green: #59b828;
$icon-bg-blue: #0d6efd;
$bg-color: #fafafa;
$employee-bg: #ffddb8;
$user-bg: #e24171;
$drawer-bg: #202121;
$icon-bg-red: rgb(206, 100, 100);
